%a.btn{ href: "/guide" } < indietro


- dir = @name
= dir
-# label = labels[name.to_sym]

- dir_screen = dir.split("_")[1..-1].join("_")

.guide{ class: dir_screen }

  - labels = Saf.load "./guides/#{dir}.saf"
  - labels = labels.first

  - screens = Dir.glob("./screenshots_src/#{dir_screen}/*.png")
  - screens.sort_by!{ |screen| File.basename(screen).to_i } #{ |screen| File.mtime screen }
  - screens.each_with_index do |screen, idx|
    - name = File.basename screen, ".*"
    - path = "/screens/#{dir_screen}/#{name}.png"
    %p.num #{name}.
    - label = labels[name.to_sym]
    - if label
      .text= label
    %img{ src: path }


  %nav.bottom
    %a.btn{ href: "/guide" } < torna alle guide
    - guide_next = Guide.new(dir).next
    - if guide_next
      %a.btn.right{ href: "/guides/#{guide_next.name_url}" } prossimo step  >
