%a.btn{ href: "/guide" } < indietro


- dir = @name
- dir_screen = dir.split("_")[1..-1].join("_")

.guide{ class: dir_screen }

  - labels = Saf.load "./guides/#{dir}.saf"
  - labels = labels.first

  - screens = Dir.glob("./screenshots_src/#{dir_screen}/*.png")
  - screens.sort_by!{ |screen| File.basename(screen).to_i } #{ |screen| File.mtime screen }
  - screens.each_with_index do |screen, idx|
    - name = File.basename screen, ".*"
    - path = "/screens/#{dir_screen}/#{name}.png"
    %img{ src: path }
    %p.num #{name}.
    - label = labels[name.to_sym]
    - if label
      .text= label

%nav.bottom
  %a.btn{ href: "/guide" } < torna alle guide
  %a.btn.right{ href: "/guides/#{Guide.new(dir).next.name_url}" } prossimo step  >
