%a.expand{ href: "javascript:void(0)" } <- expand icon ->

%a.btn{ href: "/guide" } < indietro

- dir = @name
- dir_screen = dir.split("_")[1..-1].join("_")
%h1= Labelize::LABELS[dir_screen.to_sym]

.guide{ class: dir_screen }

  - labels = Saf.load "./guides/#{dir}.saf"
  - labels = labels.first

  - screens = Dir.glob("./screenshots_src/#{dir_screen}/*.png")
  - screens.sort_by!{ |screen| File.basename(screen).to_i } #{ |screen| File.mtime screen }
  - screens.each_with_index do |screen, idx|
    - name = File.basename screen, ".*"
    - path = "/screens/#{dir_screen}/#{name}.png"
    %p.num #{name}.
    - label = labels[name.to_sym]
    - if label
      .text= label
    %img{ src: path }


  %nav.bottom
    %a.btn{ href: "/guide" } < torna all'indice
    - guide = Guide.new dir
    - if guide.message_next # RELEASE: remove in open source relase
      .right #{guide.message_next} >
    - elsif guide.next
      %a.btn.right{ href: "/guides/#{guide.next.name_url}" } prossimo step  >

